/*Nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid white;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #141E30;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #141E30;
    font-size: 1.rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #243B55;
}

.login-button a {
    padding: 8px 16px;
    background-color: #141E30;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #141E30;
    font-weight: normal;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover{
    background: #FFF;
    color: #141E30;
}

.login-button a:hover {
    background-color: #FFF;
    color: #141E30;
}
/*Nav*/

/*Movil Responsive*/
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
    }

    .form-container, .overlay-container {
        width: 100%;
        height: auto;
    }

    .overlay-container {
        position: static;
        width: 100%;
        height: auto;
    }

    .overlay-panel {
        width: 100%;
        padding: 20px;
    }

    .form-container form {
        padding: 20px;
    }

    .overlay-panel h1, .overlay-panel p, .overlay-panel button {
        text-align: center;
    }
}

/* Media Queries */
@media (max-width: 720px) {
    .container {
        width: 100%;
        height: auto;
        flex-direction: column;
        box-shadow: none;
        border-radius: 0;
    }

    .form-container, .overlay-container {
        width: 100%;
        height: auto;
        position: relative;
    }

    .overlay-container {
        left: 0;
        top: 0;
    }

    .form-container {
        padding: 20px;
    }

    .overlay {
        position: static;
        width: 100%;
        left: 0;
        transform: none;
    }

    .overlay-panel {
        width: 100%;
        padding: 20px;
    }

    .overlay-panel button {
        padding: 10px;
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    input {
        padding: 10px;
        font-size: 16px;
    }

    button {
        padding: 10px 30px;
        font-size: 14px;
    }

    .right-panel-active .sign-in-container {
        opacity: 0;
        position: absolute;
        z-index: 0;
    }

    .right-panel-active .sign-up-container {
        opacity: 1;
        z-index: 5;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 10px;
    }

    button {
        padding: 8px 20px;
    }

    input {
        padding: 8px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .overlay-panel button {
        padding: 8px;
        font-size: 12px;
    }
}