<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LICIBA</title>
    <link rel="stylesheet" href="/styles/styleMain.css">
    <link rel="stylesheet" href="/styles/globalNavBar.css">
    <link rel="stylesheet" href="/styles/globalFooter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900&display=swap" rel="stylesheet">
    <meta name="description" content="LICIBA: La plataforma global para carreras de ciclismo y running. Conecta con otros atletas, compite en un entorno divertido y motivador.">
</head>
<body>
    <div class="content">
        <header>
            <nav class="navbar">
                <div class="logo">
                    <span>LICIBA</span>
                </div>
                <ul class="nav-links">
                    <li><a href="/" >Home</a></li>
                    <li><a href="/ranking">Rankings</a></li>
                    <li><a href="/races">Races</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                </ul>
                <div class="login-button">
                    <a href="/login">Login</a>
                </div>
            </nav>
        </header>
        
        <main>
            <div class="image-container">
            <img src="Images/homePhoto.jpeg" alt="Cycling event">
            <div class="text-overlay">
                <h1>Bienvenido a LICIBA</h1>
                <p>We are a global platform for cycling and running races...</p>
            </div>
        </div>
        
        <section class="title-races">
            <h2>Próximas Carreras</h2>
            <div class="content-races">
                <div>
                    <img src="Images/prueba3.webp" alt="Carrera del 24 de Julio">
                    <p>24 de Julio</p>
                </div>
                <div>
                    <img src="Images/prueba3.webp" alt="Carrera del 4 de Noviembre">
                    <p>4 de Noviembre</p>
                </div>
                <div>
                    <img src="Images/prueba3.webp" alt="Carrera del 16 de Diciembre">
                    <p>16 de Diciembre</p>
                </div>
            </div>
        </section>

        <section class="news-section">
            <h2>News</h2>
            <article class="news-item">
                <div class="news-text">
                    <p class="source">cyclingnews.com</p>
                    <h3>Froome: I'm not done yet, I still want to win</h3>
                    <p>Chris Froome says he still has plenty of ambition...</p>
                    <button class="read-more" aria-label="Read more about Froome">Read more</button>
                </div>
                <div class="news-image">
                    <img src="Images/prueba3.webp" alt="Froome Image">
                </div>
            </article>
        </section>
        </main>
        <footer class="footer">
            <p>&copy; 2024 LICIBA. Todos los derechos reservados.</p>
            <div class="footer-links">
                <a href="#">Política de Privacidad</a> | 
                <a href="#">Términos de Servicio</a> | 
                <a href="#">Contacto</a>
            </div>
        </footer>
    </div>
</body>
</html>
