<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LICIBA</title>
    <link rel="stylesheet" href="styles/styleRaces.css">
    <link rel="stylesheet" href="styles/globalNavBar.css">
    <link rel="stylesheet" href="/styles/globalFooter.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <span>&#9670; LICIBA</span>
            </div>
            <ul class="nav-links">
                <li><a href="/" >Home</a></li>
                <li><a href="/ranking">Rankings</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
            </ul>
            <div class="login-button">
                <a href="/login">Login</a>
            </div>
        </nav>
    </header>
    <main></main>
    <footer class="footer">
        <p>&copy; 2024 LICIBA. Todos los derechos reservados.</p>
        <div class="footer-links">
            <a href="#">Política de Privacidad</a> | 
            <a href="#">Términos de Servicio</a> | 
            <a href="#">Contacto</a>
        </div>
    </footer>
</body>
</html>